.col-md-3.col-sm-3
  .row
    - parents(group).each do | group|
      .group-wrapper.side
        = link_to shop_group_path(:link => group.link) do
          = image_tag group.main_picture.url(:product)
          %h5= group.name

      .intro-text
        %p.description
          = markdown group.summary

    .intro2.group-wrapper.side
      = link_to shop_group_path(:link => group.link) do
        = image_tag group.main_picture.url(:product)
        %h5= group.name
    .intro-text
      %p.description
        = markdown group.summary
        = markdown group.description

  .row
    .shipping-info.frame
      %a{href: "/page/toimitusehdot#toimituskulut"}
        %h5.highlight
          Edulliset toimituskulut,
          %br
          alkaen vain 3 €!
          %br
          Yli 49€ ilmainen!
    .group-wrapper.side
      = link_to root_path do
        = image_tag "kauppa/menu-luomu.jpg"
        %h5= t(:to_hompage)

    .intro-text
      %p.description
        %b
          FARFALLA - Huippusarja maailmalta, nyt myös Suomessa!
        %br
          Sveitsiläistä laadukasta luomukosmetiikkaa: 100% luonnollisista ainesosista, joista suuri osa jopa yli 95% luomua (NaTrue***)
