!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
%html{lang: (I18n.locale || I18n.default_locale)}
  %head
    %meta{:content => "8;url=https://www.farfalla.fi/", "http-equiv" => "Refresh"}/
    %meta{charset: "utf-8"}/
    %title Auringosta Itään, Kuusta Länteen
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1", name: "viewport"}
    %meta{content: "Sisustus, Lifestyle, luomukosmetiikka , luonnonkosmetiikka , helsinki , farfalla", name: "keywords"}
    %meta{content: 'Sisustus Lifestyle luomukosmetiikka  luonnonkosmetiikka  helsinki  farfalla', name: 'description'}
    = stylesheet_link_tag "sales_clerk" , :media => 'all'
    = javascript_include_tag "sales_clerk"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container-fluid
        .row
          .col-xs-6.visible-lg
            / =link_to "/" do
            / = image_tag "kauppa/kansilogo-md.png"
          .col-xs-6.visible-xs.visible-sm.visible-md
            / =link_to "/" do
            / = image_tag "kauppa/kansilogo-xs.png"
          .col-xs-6
            .navbar-inner
              .navbar-header
                %button.navbar-toggle.navbar-right.collapsed{"aria-expanded" => "false", "data-target" => "#auringosta-collapse-1", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Menu
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
              #auringosta-collapse-1.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right.hidden-print
                  %li#link-to-cart
                    %a{href: main_app.shop_checkout_path}
                      = t(:basket)
                      - if current_basket_or_nil.nil? or current_basket.items.count == 0
                        = t(:empty)
                      -else
                        = current_basket.items.count
                        = t(:items)
                  - if current_clerk
                    %li= link_to t(:sign_out), office.sign_out_path
                    %li= link_to t(:order_history) ,  "/history"
                  - else
                    %li= link_to t(:sign_up), office.sign_up_path
                    %li= link_to t(:sign_in), office.sign_in_path
              .visible-sm.visible-md.visible-lg
                = yield :extra_pic
    .container-fluid
      .row
        %a{:href => "http://www.farfalla.fi"}
          %h3.highlight.text-center
            Farfallan verkkokauppa on muuttanut uuteen osoitteeseen
            %br/
            farfalla.fi. Tervetuloa tutustumaan!
            %br/
            %small.highlight
              Selain siirtyy hetken kuluttua automaattisesti uuteen kauppaan.
          = image_tag "kauppa/banner-aikl.jpg" , :class => "img-responsive"
      .row
        .main
          - message = flash[:notice].blank? ? flash[:error] : flash[:notice]
          - unless message.blank?
            .row.alert-notice
              .col-md-4
              .col-md-4
              .col-md-4
                .alert.alert-dismissible.alert-message.alert-shop
                  %button.close{"data-dismiss" => "alert", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                    %span.sr-only= t(:close)
                  = raw message
      .row
        .col-md-12
          = yield



      =render "layouts/footer"
    -if ENV["KAUPPA_ID"]
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        var the_id = '#{ENV["KAUPPA_ID"]}';
        ga('create', the_id.replace("9-1","9-6") , 'auringostaitaan.fi');
        ga('send', 'pageview');
